<div class="container">
  <div id="profileInfoWrapper">
    <ul id="profileNav">
      <li><a>Profile Info</a></li>
      <li><a>Orders History</a></li>
    </ul>

    <div id="userDetails">
      <div class="row">
        <div class="col-md-5">
          <div id="logoWrapper">
            <img src="../../../assets/dummyUser.jpg">
          </div>
        </div>
        <div class="col-md-7">
          <div class="row" *ngFor="let key of objectKeys(userViewTemplate)">
            <div class="col-md-5 col-xs-5"><h5>{{ key }}:</h5></div>
            <div class="col-md-7 col-xs-7 userInfo">{{ userViewTemplate[key] }}</div>
          </div>
      </div>
    </div>
    <div class="row justify-content-end align-items-center">
      <input type="file">
    </div>
  </div>
</div>
