#dashboard {
  min-height: 100vh;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  position: relative;

  #edit-modal-shadow {
    width: 100%;
    position: absolute;
    z-index: 10;
    background: rgba(94, 84, 84, 0.596);
    height: 100%;
  }

  #leftSection {
    width: 15%;
    background-color: black;
    min-height: 100vh;
  }

  #rightSection {
    width: 85%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
  }
}
