<div id="products-grid">
  <div class="row results"
       infiniteScroll
       [infiniteScrollDistance]="0"
       [infiniteScrollThrottle]="500"
       (scrolled)="onScroll()"
       (scrolledUp)="onScroll()">
    <div class="col-lg-4 col-md-4 col-sm-6 "
         *ngFor="let product of currentList">
      <app-product-item [productData]="product"></app-product-item>
    </div>
  </div>
  <div *ngIf="loadingProducts" style="width: 100%; display: flex; justify-content: center; padding-bottom: 15px">
    <mat-progress-spinner
      class="example-margin"
      color="warn"
      mode="indeterminate"
      value="40">
    </mat-progress-spinner>
  </div>
</div>

