#userInfoWrapper {
  margin: 0 auto;
  width: 85%;

  .validationError {
    color: red;
    font-size: 12px;
    font-weight: 600;
  }

  .controls {
    margin: 0 auto;

    #signUpBtn {
      width: 100px;
      height: 40px;
    }
  }
}
