<div class="col-xs-12 col-md-12">
    <form id="signUp"
          [formGroup]="registrationForm"
          (ngSubmit)="test()"
          #f="ngForm">
          <div id="userInfoWrapper">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="firstName">
                            First Name
                            <input type="text"
                                    placeholder="Enter first name"
                                    class="form-control"
                                    id="firstName"
                                    name="firstName"
                                    formControlName="firstName">  
                        </label>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="lastName">
                            Last name
                            <input type="text"
                                    placeholder="Enter last name"
                                    class="form-control"
                                    id="lastName"
                                    name="lastName"
                                    formControlName="lastName">  
                        </label>
                    </div>
                </div>
    
              
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="Password">
                            Password
                            <input type="password"
                                   placeholder="Enter password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   formControlName="password">  
                        </label>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="passwordRepeat">
                            Repeat Password
                            <input type="passwordRepeat"
                                   placeholder="Repeat password"
                                   class="form-control"
                                   id="passwordRepeat"
                                   name="passwordRepeat"
                                   formControlName="repeatPassword">  
                        </label>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="login">
                            Login
                            <input type="text"
                                    placeholder="Enter login"
                                    class="form-control"
                                    id="login"
                                    name="login"
                                    formControlName="login">  
                        </label>
                    </div>
                </div>
    
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="phone">
                            Phone
                            <input type="phone"
                                   placeholder="Enter phone"
                                   class="form-control"
                                   id="phone"
                                   name="phone"
                                   formControlName="phone">  
                        </label>
                    </div>
                </div>
    
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="email">
                            Email
                            <input type="email"
                                   placeholder="Enter email"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   formControlName="email">  
                        </label>
                    </div>
                </div>
    
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="address">
                            Address
                            <input type="text"
                                   placeholder="Enter address"
                                   class="form-control"
                                   id="address"
                                   name="address"
                                   formControlName="address">  
                        </label>
                    </div>
                </div>
    
                <div class="controls">
                    <button class="btn btn-success"
                            type="submit"
                            id="signUpBtn">
                        Sign Up
                    </button>
                </div>
            </div>
          </div>
    </form>
</div>