<header id="headerSection">
    <div id="activeCategory">
        <h2>{{ activeCategory }}</h2>
    </div>

    <div id="controlsWrapper">
        <div id="activeUser">
            Hello <a [routerLink]="['profile', userId]"><b>{{ activeUser.login }}</b></a> / <a (click)="logOut()">Log Out</a>
        </div>
        <div id="cart" (click)="openCart()">
          <div id="cartCounter">{{ productQuantity || 0 }}</div>
          <img src="./../../../assets/cart.png">
        </div>
    </div>
</header>
