#signInUp {
    width: 60%;
    height: 0 auto;
    margin: 0 auto;
    border: 1px solid red;  
    margin-top: 15%;
    background: white;
    border-radius: 8px;

    #formsNavigation {
        border: 1px solid black;

        li {
            list-style-type: none;
            display: inline;
            margin-left: 5px;
        }

        a {
            color: black;
        }

        .activeTab {
             a {
                 color: red;
                 &:hover {
                     cursor: pointer;
                     color: red;
                 }
             }
        }


    }
}