<div class="col-xs-12 col-md-12">
    <form id="signIn"
          (ngSubmit)="onLogin(f)"
          #f="ngForm">

    <div id="credentialsWrapper">
        <div class="form-group">
            <label for="login">
                Login
            </label>
            <input type="text"
                    placeholder="Enter login"
                    class="form-control"
                    id="login"
                    name="login"
                    required
                    login
                    ngModel
                    #login="ngModel">
            
        </div>
        <p *ngIf="!login.valid && login.touched" class="validationError">Login is not valid!</p>

        <div class="form-group">
            <label for="login">
                Password
            </label>
            <input type="password"
                    placeholder="Enter password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    password
                    #password="ngModel"
                    ngModel>
            
        </div>
        <p *ngIf="!password.valid && password.touched" class="validationError">Password is not valid!</p>
        <p *ngIf="!authStatus && password.touched" class="validationError">Your login and password are incorect!</p>
    </div>

    <div class="controls">
        <button class="btn btn-primary"
                id="signInBtn"
                type="submit"
                [disabled]="!f.valid">
            Log In  
        </button>
    </div>
    </form>
</div>